.tile {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 85%;
    text-align: center;
  }
  
.tile-title {
    font-weight: bold;
    font-size: 1.5em;
  }

.tile-name {
  font-size: 1.375em;
}
  
.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #d32f2f;
  }
  
